<?xml version="1.0"?>
<config>
    <modules>
        <Snowcode_GoogleCloudPrint>
            <version>0.1.0</version>
        </Snowcode_GoogleCloudPrint>
    </modules>
    <global>
        <models>
            <scgooglecloudprint>
                <class>Snowcode_GoogleCloudPrint_Model</class>
                <resourceModel>scgooglecloudprint_resource</resourceModel>
            </scgooglecloudprint>
            <scgooglecloudprint_resource>
                <class>Snowcode_GoogleCloudPrint_Model_Resource</class>
            </scgooglecloudprint_resource>
        </models>
        <blocks>
            <scgooglecloudprint>
                <class>Snowcode_GoogleCloudPrint_Block</class>
            </scgooglecloudprint>
        </blocks>
        <helpers>
            <scgooglecloudprint>
                <class>Snowcode_GoogleCloudPrint_Helper</class>
            </scgooglecloudprint>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <payperrentals before="Mage_Adminhtml_Sales">Snowcode_GoogleCloudPrint_Adminhtml</payperrentals>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <scgooglecloudprint>
                    <files>
                        <default>Snowcode_GoogleCloudPrint.csv</default>
                    </files>
                </scgooglecloudprint>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <scgooglecloudprint>
                    <files>
                        <default>Snowcode_GoogleCloudPrint.csv</default>
                    </files>
                </scgooglecloudprint>
            </modules>
        </translate>
    </frontend>
    <default>
        <scgooglecloudprint>
            <print_replace>
                <print_invoice>0</print_invoice>
                <print_creditmemo>0</print_creditmemo>
                <print_shipment>0</print_shipment>
            </print_replace>
        </scgooglecloudprint>
    </default>
</config>